# MongoDB Configuration
MONGODB_URI=
DB_NAME=

# Server Configuration
PORT=5000
NODE_ENV=development

# Solana RPC Configuration
SOLANA_RPC_URL=
HELIUS_API_KEY=
SOLANA_WS_URL=

# Cache Configuration
CACHE_TTL=300 # 5 minutes in seconds

# Rate Limiting
RATE_LIMIT_WINDOW=
RATE_LIMIT_MAX_REQUESTS=

# Auth Configuration
JWT_SECRET=
JWT_EXPIRES_IN=
SALT_ROUNDS=

# Solscan API
SOLSCAN_API_KEY=
SOLSCAN_API_URL=





# Redis Configuration
REDIS_HOST=redis-14911.c90.us-east-1-3.ec2.redns.redis-cloud.com
REDIS_PORT=14911
REDIS_PASSWORD=7N4kKbsO6OC7UQBprNBpkXCDtxtJzXZF